#page-work {
	overflow-x: hidden;
	.body_inner {
		margin: 0 auto;
		padding: 0 5%;
		max-width: 1400px;
	}
}
#page-work .MV {
	position: relative;
	padding-top: 130px;
	@include media(sm) {
		padding-top: 45px;
	}
	.company {
		display: flex;
		font-size: 22px;
		color: $main_orange;
		z-index: 100;
		@include media(sm) {
			font-size: 18px;
		}
		.name {
			&:after {
				content: "";
				position: relative;
				top: -8px;
				display: inline-block;
				margin-left: 15px;
				width: 20px;
				height: 1px;
				background-color: $main_orange;
			}
		}
		.industry {
			padding-left: 15px;
		}
	}
	.MV_title {
		margin-top: 25px;
		font-family: $text_title;
		font-size:min(10vw,80px);
		font-weight: 500;
		color: $text_black;
		line-height: 1.2em;
		z-index: 100;
		@include media(sm) {
			margin-top: 15px;
		}
	}
	.MV_bottom {
		padding: 80px 0 40px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		border-bottom: solid 1px #cdcdcd;
		z-index: 100;
		@include media(sm) {
			padding: 40px 0 20px 0;
			flex-direction: column;
			align-items: stretch;
		}
		.myrole {
			.title {
				padding-bottom: 8px;
				font-size: 20px;
				color: $text_black;
				@include media(sm) {
					padding-bottom: 4px;
					font-size: 18px;
				}
			}
			.role {
				font-size: 16px;
				@include media(sm) {
					font-size: 14px;
				}
			}
		}
		.btn_visit {
			position: relative;
			left: -65px;
			margin-left: -40px;
			font-size: 24px;
			color: $text_black;
			@include media(sm) {
				left: 42px;
				margin-top: 20px;
				font-size: 18px;
			}
			a {
				position: relative;
				transition: all .4s ease;
				&:after{
					content: "";
					display: inline-block;
					position: absolute;
					bottom: 14px;
					left: 102%;
					margin-left: 6px;
					width: 54px;
					height: 12px;
					background-image: url("../img/home/arrow_orange.svg");
					background-repeat: no-repeat;
					background-size: contain;
	  				vertical-align: middle;
	  				transition: all .4s ease;
	  				@include media(sm) {
						bottom: 10px;
						width: 40px;
						height: 9px;
					}
				}
				&:hover {
					color: $main_orange;
						&:after{
					    	left:108%;
				    }
				}
			}
		}
	}
	.fluid {
		position: absolute;
		top: -28%;
		left: -28%;
		width: 130vh;
		height: 100vh;
		max-width: 100%;
		max-height: 500px;
		background: radial-gradient(circle, rgba(255,164,0,50%), rgba(255,164,0,0%));
		filter: blur(50px);
		animation: fluidrotate 4s ease 0s infinite, zoom-in-anim 10s infinite;
		z-index: -1;
		@include media(sm) {
			top: -38%;
		}
	}
}
#page-work .main {
	padding-top: 60px;
	@include media(sm) {
		padding-top: 25px;
	}
	.main-img {
		border: solid 1px #f1f1f1;
		border-radius: 40px;
		@include media(sm) {
			border-radius: 18px;
		}
	}
	.explanation {
		margin: 120px 0 100px 0;
		@include media(sm) {
			margin: 40px 0 40px 0;
		}
		.project, .visual-design {
			display: flex;
			justify-content: space-between;
		}
		.project {
			@include media(md) {
				flex-direction: column;
		    }
		}
		.visual-design {
			padding-top: 70px;
			@include media(md) {
				flex-direction:  column-reverse;
			}
			@include media(sm) {
				padding-top: 40px;
			}
		}
		.text {
			position: relative;
			width: 50%;
			font-size: 16px;
			color: $text_black;
			line-height: 2em;
			@include media(md) {
				width: 100%;
			}
			h3 {
				padding-bottom: 40px;
				font-size: 42px;
				@include media(md) {
					padding-bottom: 25px;
				}
				@include media(sm) {
					font-size: 28px;
					padding-bottom: 15px;
				}
			}
			.fluid {
				position: absolute;
				top: -46%;
				right: 40%;
				width: 120vh;
				height: 100vh;
				max-width: 800px;
				max-height: 500px;
				background: radial-gradient(circle, rgba(255,164,0,50%), rgba(255,164,0,0%));
				filter: blur(50px);
				animation: fluidrotate 4s ease 0s infinite, zoom-in-anim 10s infinite;
				z-index: -1;
				@include media(sm) {
					top: -36%;
					right: -26%;
					width: 80vh;
					height: 50vh;
					max-width: 600px;
					max-height: 400px;
				}
			}
		}
		.work_img01, .work_img02 {
			width: 44%;
			@include media(md) {
				padding-top: 25px;
				width: 100%;
			}
		}

	}
	.other-img {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-bottom: 120px;
		@include media(md) {
			margin-bottom: 100px;
		}
		@include media(sm) {
			flex-direction: column;
			margin-bottom: 50px;
		}
		img {
			width: 48%;
			border: solid 1px #f1f1f1;
			border-radius: 40px;
			@include media(sm) {
				width: 100%;
				border-radius: 18px;
			}
			&:last-child {
				@include media(sm) {
					margin-top: 20px;
				}
			}
		}
		.fluid {
			position: absolute;
			bottom: -12%;
			right: -42%	;
			width: 130vh;
			height: 130vh;
			max-width: 100%;
			max-height: 700px;
			background: radial-gradient(circle, rgba(255,164,0,50%), rgba(255,164,0,0%));
			filter: blur(50px);
			animation: fluidrotate 4s ease 0s infinite, zoom-in-anim 10s infinite;
			z-index: -1;
		}
	}
}
.next-project {
	position: relative;
	@include media(sm) {
		overflow: hidden;
	}
	.next-project_inner {
		margin: 0 auto;
		padding: 0 5%;
		max-width: 1400px;
		@include media(sm) {
			padding-left: 5%;
		}
		.title {
			display: flex;
			align-items: center;
			margin-bottom: 40px;
			@include media(sm) {
				margin-bottom: 20px;
			}
			h3 {
				font-size: 42px;
				font-weight: 500;
				color: $text_black;
				font-family: $text_title;
				@include media(sm) {
					font-size: 28px;
				}
			}
		}
		.next-project_box_wrapper {
			.next-project_box_inner{
				@include media(sm) {
					margin: 0 auto;
				    width: 100%;
				    padding-right: 12vw;
				}
				.next-project_box {
					.next-project_box-item {
						padding-right: 20px;
						&:last-child {
							padding-right: 0;
						}
						.next-project_img {
							border: solid 1px #f1f1f1;
							border-radius: 14px;
							overflow: hidden;
							img {
								transition: 1s all;
							}
						}
						.project-name {
							padding: 15px 0 5px 0;
							font-size: 20px;
							font-weight: 500;
							color: $text_black;
							transition: all .4s ease;
							@include media(sm) {
								padding: 10px 0 4px 0;
								font-size: 18px;
							}
						}
						.company-name {
							font-size: 16px;
							@include media(sm) {
								font-size: 14px;
							}
						}
						&:hover img {
						 	transform: scale(1.06,1.06);	
						}
						&:hover .project-name {
							color: $main_orange;
						}
					}
				}
			}
		}
		.btn_project-list {
			margin-top: 60px;
			font-size: 30px;
			font-weight: 500;
			color: $text_black;
			text-align: center;
			@include media(sm) {
				margin-top: 25px;
				font-size: 18px;
			}
			a {
				position: relative;
				transition: all .4s ease;
				&:after {
					content: "";
					display: inline-block;
					position: absolute;
					bottom: 16px;
					left: 102%;
					margin-left: 6px;
					width: 60px;
					height: 14px;
					background-image: url("../img/home/arrow_orange.svg");
					background-repeat: no-repeat;
					background-size: contain;
	  				vertical-align: middle;
	  				transition: all .4s ease;
	  				@include media(sm) {
						top: 6	px;
						width: 40px;
						height: 9px;
					}
				}
				&:hover {
					color: $main_orange;
					&:after{
				    	left:108%;
				    }
				}
			}
		}
	}
}
#page-work footer{
	margin: 100px auto 0;
	width: 90%;
	max-width: 1260px;
	@include media(sm) {
		margin: 60px auto 0;
	}
}