/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    /*height: 100%;*/
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
#page-work .slick-prev, #page-work .slick-next {
    position: absolute;
    top: -36%;
    transform: translate(0, 0);
    width: 4.8vw;
    height: 4.8vw;
    font-size: 0;
    background: rgba(245, 244, 242, 1);
    border: none;
    border-radius: 50%;
    transition: all .4s ease;
    cursor: pointer;
}

#page-work .slick-prev {
    left: calc(100% - 11vw);
}

#page-work .slick-prev::before, #page-work .slick-next::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: calc(50% - .4vw);
    width: 2.1vw;
    height: .48vw;
    background-image: url("../img/work/arrow_black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    transition: all .4s ease;
}

#page-work .slick-prev::before {
    transform: scale(-1, 1); 
    left: calc(50% - 1.1vw);
}
#page-work .slick-next::before {
    left: calc(50% - .9vw);  
}
#page-work .slick-next {
    right: 0;
}
#page-work .slick-prev:hover, #page-work .slick-next:hover {
    background: rgba(255, 164, 0, 1);
}
#page-work .slick-prev:hover::before, #page-work .slick-next:hover::before {
    background-image: url("../img/work/arrow_white.svg");
}
@media screen and (max-width: 1024px) {
    #page-work .slick-prev, #page-work .slick-next {
        top: -13vw;
        width: 8vw;
        height: 8vw;
        cursor: none;
    }
    #page-work .slick-prev {
        left: calc(100% - 17vw);
    }
    #page-work .slick-prev::before, #page-work .slick-next::before {
        top: 44%;
        width: 2.6vw;
        height: .6vw;
    }   
    #page-work .slick-prev::before {
        left: calc(50% - 1.2vw);
    }
    #page-work .slick-next::before {
        left: calc(50% - 1.1vw);  
    }
}
@media screen and (max-width: 576px) {
    .slick-list {
        overflow: visible;
    }
}