@charset "UTF-8";

$text: #4f4f4f;
$text_black: #000;
$main_orange: #ffa400;
$text_title: "Poppins";

//break-point
$breakpoints: (
    'sm': 'screen and (max-width: 576px)',
    'md02': 'screen and (max-width: 700px)',
    'md': 'screen and (max-width: 1024px)',
)!default;
@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

//scssfile
@import '_common.scss';
@import '_top.scss';
@import '_work.scss';
@import '_about.scss';

//google-font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');




@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fluidrotate {  
	  
0%, 100% {
    border-radius: 57% 43% 31% 69% / 57% 72% 28% 43%;
}
25% {
    border-radius: 63% 37% 85% 15% / 29% 33% 67% 71%;
}
50% {
    border-radius: 100% 0% 43% 57% / 85% 74% 26% 15%;
}
75% {
    border-radius: 63% 37% 85% 15% / 29% 33% 67% 71%;
}
	  
}

@keyframes zoom-in-anim{
  0%{
    transform: scale(0.8);    
  }
  50%{
    transform: scale(1);    
  }
  100%{
    transform: scale(0.8);    
  }
}